<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SurfBoard</title>
  <link rel="stylesheet" href="/static/css/common/all.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/common/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/common/toastr.min.css">
  <link rel="stylesheet" href="/static/css/common/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <nav th:include="include/navbar::navbar" class="main-header navbar navbar-expand navbar-dark navbar-indigo"></nav>
  <aside th:include="include/sidebar::sidebar" class="main-sidebar sidebar-light-indigo elevation-4"></aside>
  <div th:include="${wrapName}::wrapper" class="content-wrapper"></div>
</div>
<script src="/static/js/common/jquery.min.js"></script>
<script src="/static/js/common/bootstrap.bundle.min.js"></script>
<script src="/static/js/common/jquery.validate.min.js"></script>
<script src="/static/js/common/additional-methods.min.js"></script>
<script src="/static/js/common/toastr.min.js"></script>
<script src="/static/js/common/common-ajax.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/common/adminlte.min.js"></script>
</body>
</html>
